/* line 3, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
body {
  font-family: 'Lato', sans-serif; }

/* line 7, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
::-webkit-scrollbar {
  display: none; }

/* line 11, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.main_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* line 18, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.logo {
  display: flex;
  width: 195px;
  height: 75px;
  margin-left: 10vh; }

/* line 25, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.menu {
  display: flex; }
  /* line 27, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .menu li {
    color: #532B13;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    padding: 1vh 2vh;
    border-radius: 3%;
    font-size: 3vh;
    display: none;
    margin-right: 13vh; }
    @media (min-width: 1000px) {
      /* line 27, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
      .menu li {
        display: inline-block; } }

/* line 44, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
a {
  text-decoration: none; }

/* line 48, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.main_box {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1000px) {
    /* line 48, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .main_box {
      flex-direction: row; } }

/* line 55, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.left_side .left_top, .left_side .left_bottom, .right_side .right_top, .right_side .right_bottom, .right_side .right_middle, .navigation, section.module.parallax {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 66, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.left_side {
  width: 100vw; }
  @media (min-width: 1000px) {
    /* line 66, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .left_side {
      width: 55vw; } }
  /* line 71, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .left_side .left_top {
    height: 45vh;
    background: url(../img/Iran.jpg);
    background-size: 110% 160%;
    background-position: center;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms; }
  /* line 81, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .left_side .left_bottom {
    height: 50vh;
    background-image: url(../img/tatry.JPG);
    background-position: center;
    background-size: 110% 160%;
    background-position: center;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms; }

/* line 94, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.right_side {
  width: 100vw; }
  @media (min-width: 1000px) {
    /* line 94, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .right_side {
      width: 45vw; } }
  /* line 99, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .right_side .right_top {
    height: 27vh;
    background-color: #BDB93C; }
  /* line 104, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .right_side .right_bottom {
    height: 27vh;
    background-color: #3FB592; }
  /* line 109, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .right_side .right_middle {
    height: 36vh;
    background-image: url(../img/gocha.jpg);
    background-position: center;
    background-size: 110% 160%;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms; }

/* line 124, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.box_border {
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  padding: 3vh;
  display: flex;
  border: 5px solid white;
  color: white;
  margin: auto;
  border-radius: 4%;
  flex-direction: row;
  opacity: 0.3;
  text-align: center; }
  /* line 136, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .box_border h2 {
    font-size: 4vw; }
  /* line 139, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .box_border h3 {
    font-size: 2vw;
    opacity: 1; }
  /* line 143, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .box_border img {
    display: flex;
    margin-right: 3vh; }

/* line 149, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.white {
  opacity: 1; }

/* line 153, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.box_borderSlajd {
  opacity: 1;
  background-color: white;
  color: #3FB592; }

/* line 159, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.box_borderFest {
  opacity: 1;
  background-color: white;
  color: #BDB93C; }

/* line 168, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.box_title {
  margin: 3vh; }
  /* line 170, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .box_title p {
    display: inline;
    border: 2px solid white;
    border-radius: 5%;
    padding: 1vh;
    color: white; }

/* line 179, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.trawers1 {
  background-color: #BDB93C;
  color: white;
  font-size: 3vh;
  padding: 3vh;
  -moz-transition: all 800ms;
  -webkit-transition: all 800ms;
  transition: all 800ms; }

/* line 189, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.trawers2 {
  background-color: #3FB592;
  color: white;
  font-size: 3vh;
  padding: 3vh;
  -moz-transition: all 800ms;
  -webkit-transition: all 800ms;
  transition: all 800ms; }

/* line 199, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.trawers3 {
  background-color: #CC5B33;
  color: white;
  font-size: 3vh;
  padding: 3vh;
  -moz-transition: all 800ms;
  -webkit-transition: all 800ms;
  transition: all 800ms; }

/* line 210, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.transparent {
  opacity: 0.5; }

/* line 215, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.banner {
  background-image: url(../img/TLO_NA_FB_2.jpg);
  background-position: center;
  height: 50vh;
  width: 100vw;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms; }

/* line 225, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.main_fest {
  display: flex;
  flex-direction: row; }
  /* line 228, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .main_fest div {
    display: flex; }

/* line 233, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.info_fest {
  text-align: justify;
  padding: 8vh;
  background-color: white;
  color: #4A2D25;
  font-size: 3vh;
  line-height: 4vh; }

/* line 242, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.add {
  background-image: url(../img/tlo.jpg);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  padding: 3vh; }
  /* line 249, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .add div {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 255, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .add img {
    display: flex; }

/* line 260, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.invites {
  display: flex;
  flex-direction: column; }

/* line 267, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.navigation {
  flex-direction: row; }

/* line 273, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.rotate {
  display: flex; }
  /* line 275, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .rotate img {
    -moz-transition: all 1600ms;
    -webkit-transition: all 1600ms;
    transition: all 1600ms; }

/* line 282, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.main_slider {
  overflow: hidden;
  display: flex;
  flex-direction: row; }

/* line 288, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.side_left {
  height: 100vh;
  width: 50vw;
  display: block; }
  @media (max-width: 760px) {
    /* line 288, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .side_left {
      display: none; } }

/* line 297, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.slider_one {
  height: 100vh;
  width: 50vw;
  overflow: hidden; }
  /* line 301, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .slider_one ul {
    height: 500vh;
    position: relative; }

/* line 309, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.side_right {
  width: 50vw;
  height: 100vh; }
  @media (max-width: 760px) {
    /* line 309, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .side_right {
      width: 100vw; } }

/* line 317, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.slider_top, .slider_buttom {
  overflow: hidden;
  height: 50vh;
  width: 50vw; }
  @media (max-width: 760px) {
    /* line 317, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .slider_top, .slider_buttom {
      width: 100vw; } }

/* line 326, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.slider_container {
  position: relative;
  width: 300vw; }
  @media (max-width: 760px) {
    /* line 326, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .slider_container {
      width: 510vw; } }

/* line 334, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.item {
  display: inline-block;
  vertical-align: top; }

/* line 341, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.photo_one {
  background-image: url(../img/tatry.JPG);
  background-size: cover;
  height: 100vh;
  width: 50vw; }

/* line 348, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.photo_two {
  background-image: url(../img/krawcow.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 50vw; }

/* line 355, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.photo_three {
  background-image: url(../img/zenit_lublin.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 50vw; }

/* line 363, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.four, .artTitle_three, .artTitle_one, .artTitle_two {
  height: 50vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vh 4vh; }
  @media (max-width: 760px) {
    /* line 363, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
    .four, .artTitle_three, .artTitle_one, .artTitle_two {
      width: 100vw; } }

/* line 376, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.four {
  background-color: white;
  flex-direction: column;
  text-align: justify;
  color: #4A2D25;
  font-size: 3vh;
  line-height: 4vh; }

/* line 386, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.art_link {
  display: flex;
  margin: 4vh;
  color: #4A2D25;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  border-radius: 3%;
  font-size: 3vh;
  padding: 1vh 2vh;
  border: 2px solid #4A2D25; }

/* line 398, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.artTitle_three {
  background-image: url(../img/krawcow.jpg);
  background-position: bottom; }

/* line 406, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.artTitle_one {
  background-image: url(../img/zenit_lublin.jpg);
  background-position: center; }

/* line 412, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.artTitle_two {
  background-image: url(../img/tatry.JPG);
  background-position: center; }

/* line 421, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax {
  height: 80vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/* line 430, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax-1 {
  background-image: url("../img/zenit_lublin.jpg"); }

/* line 434, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax-2 {
  background-image: url("../img/zenit_lublin.jpg");
  background-position: 90% 90%; }

/* line 439, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax-3 {
  background-image: url("../img/krawcow.jpg"); }

/* line 443, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax-4 {
  background-image: url("../img/krawcow.jpg");
  background-position: bottom; }

/* line 448, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax-5 {
  background-image: url("../img/tatry.JPG");
  background-position: top; }

/* line 453, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
section.module.parallax-6 {
  background-image: url("../img/tatry.jpg");
  background-position: bottom; }

/* line 458, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
.container {
  flex-direction: column;
  padding: 10vh 15vh;
  font-size: 3vh;
  text-align: justify;
  line-height: 5vh;
  color: #4A2D25; }
  /* line 465, C:/Users/Kasia/Desktop/TRAWERS-3.0/css/style.scss */
  .container h4 {
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */